/*body {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  background: #e7e9ec;
}*/



h2 {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

article {
  display: block;

  box-sizing: content-box;
  border: 1px solid #b0bec5;
  background-color: #fff;
  box-shadow: 2px 1px 3px black;
  padding: 1em;
  margin: 1em;
  overflow: hidden;
  width: 80vw;
  height: 10vh;
  border-radius: 5px;
}

a :hover {
  text-decoration: none;
  color: #2196f3;
}

h2 {
  padding: 1rem;
  margin: 0;
}

#scraping{
  width: 80ww;
}
